* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: no-repeat;
  min-height: 100vh;
  position: relative;
  margin: 0;
  }

  nav{
    display: flex;
    width: 100%;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
 background-color: rgb(39, 168, 39);
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 1000;
    position: sticky;
  }

  nav ul {
    display: flex;
    align-items: center; 
    list-style-type: none;
  }

  nav li {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav img {
    width: 5vw;
  }

.background{
  background-color: rgb(5, 87, 5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 height: 100vh;
  width: 100vw;

}

.hf{
  display: flex;
  width: 100%;
 padding: 0;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background-color: rgb(39, 168, 39);
  justify-content: center;
  text-align: center;
 bottom: 0;
position: absolute;
 
  
}
.vf{
  display: flex;
  width: 100%;
 padding: 0;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background-color: rgb(39, 168, 39);
  justify-content: center;
  text-align: center;
 bottom: 0;
  }
  footer{
    display: flex;
    width: 100%;
   padding: 0;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background-color: rgb(39, 168, 39);
    justify-content: center;
    text-align: center;
   bottom: 0;
    }
.home{
  text-align: center;
  color: rgb(5, 5, 5);
  padding: 14rem;
  }

.bege{  
  border-bottom-style: inset;
  border-style: outset;
  border-color: solid black;
  padding: 3.4rem;
background-repeat: no-repeat;
 background-size: 70vw;
 background-color: yellowgreen;
 text-align: center;
 color: blue;
}

.pb{
  
  
}
.pf{
  color: white;
  font-size: 2rem;
}
.bh2{
  font-size: 20px;
  text-align: center;
}
.backgroundb{
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
width: 100vw;
color: rgb(69, 4, 4);
  
}
.dan{
  text-align: center;
}
.bvragen{
  text-align: center;
}
.footerb{
  

}
.pc{
  color: rgb(19, 60, 162);
  
 padding: 12px;
 
 font-size: 14px;
 }
