
h1{
    font-size: 2.4rem;
}
h1{
    color: rgb(250, 250, 250);
}
h1{
    font-weight: bold;
    font-size: 24px;
}
h2{
font-size: 20px;
    }
    h2{
        color: #0000ff;
    }
    h3{
        font-size: 16px;
        font-weight: bold;
    }
    h3{
        color: teal;
    }
    p{
       color:#4D4D4D ;
    }
    a{
        color: #8A2BE2;
    }
    .phone{ background-image: url("./img/pubg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 95.7vw;
        height: 100vh;

    }
    .bond{
        color: rgb(56, 240, 5);
        font-weight: bold;
    }
    article{
        border-top-style: inset;
        border-style: outset;
        border-left: 2px solid black;
        border-right: 1px solid black;
       border-radius: 10px;
     
      
    }
    