* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}


body {
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #12c3e2;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center ; 
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: rgb(251, 255, 255);
  text-decoration: none;
}
nav img {
  width: 5vw;
}
span1{
color:#00a8c7} 
span2{
color:red}
spanj{
color: rgb(194, 194, 31);}
spanp{
color: purple;}
spans{
color: yellowgreen;}



